body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #fff;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    font-size: 16px;
}



ul,ol {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    margin: 0;
}

h1, h2, h3, p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.sr-only {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}



.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.section {
    padding: 96px 0;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  /*
.section {
}
*/
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    
  }
  .section {
    padding: 120px 0;
}

}


