.footer-container {
  display: flex;
  row-gap: 72px;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;

}

.footer {
    background-color: #2E2F42;
    padding: 96px 0;
    display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer-info {
max-width: 264px;
display: flex;
gap: 16px;
flex-direction: column;
/*margin-right: 120px;*/
justify-content: center;
align-items: center;
}

.footer-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.footer-logo {
    color: #4D5AE5;
}

.footer-text {
    color: #F4F4FD;
    align-self: left;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;
    /*margin-right: auto;*/
}

.footer-social {
color: #ffffff;
font-weight: 500;
align-self: center;
}

.footer-social-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.social-icon {
 width: 24px;
 height: 24px;
 fill: #F4F4FD;
}

.social-icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms ease;
}

.social-icon-link:hover,
.social-icon-link:focus {
    background-color: #31D0AA;
}

.footer-subscription {
    /*margin-left: auto;*/
      display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.subscription {
    color: #ffffff;
font-weight: 500;
align-self: center;
}

.subscription-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  width: 100%;

}

.subscription-input {
    background-color: inherit;
    border: 1px solid #ffffff;
    border-radius: 4px;
    height: 40px;
     width: 100%;
     width: 288px;
padding: 8px 16px;
    color: #ffffff;
    font-weight: 400;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;

transition: border-color 250ms ease;

}



.subscription-input:focus {
    outline: none;
    border-color: #31D0AA;
}


input::placeholder {
    color: #fff;
    font-weight: 400;
font-size: 12px;
line-height: 1.16667;
letter-spacing: 0.04em;

}


.subscription-button {
    background-color: #4D5AE5;
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #F4F4FD;
border-radius: 4px;
border: none;
max-width: 165px;
height: 40px;
padding: 8px 24px;

transition: background-color 250ms ease;

display: flex;
align-items: center;
justify-content: center;
flex-shrink: 0;
flex-direction: row;
gap: 16px;
}

.subscription-button:hover,
.subscription-button:focus {
    background-color: #31D0AA;
    cursor: pointer;
}

.subscription-icon {

    fill: #F4F4FD;
}

@media (min-width: 768px) {
  .footer .container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0 108px;
    column-gap: 24px;
  }

  .footer-link {
    align-self: flex-start;
  }

  .footer-info {
    margin-left: 0;
  }

.footer-social {
    align-self: flex-start;
}

    .footer-social-list {
    justify-content: start;
  }

  .footer-subscription {
    width: auto;
    margin-left: 0;
  }

  .subscription {
    align-self: flex-start;
  }

  .subscription-wrapper {
    flex-direction: row;
    gap: 24px;
    width: auto;
  }


  .subscription-input {
    width: 264px;
  }


}

@media (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer .container {
    flex-wrap: nowrap;
    padding: 0;
    row-gap: 0;
  }

  .footer-info {
    margin-right: 120px;
  }

  .footer-subscription {
    margin-left: 83px;
  }
}