.header-container {
    display: flex;
  
    align-items: center;
    flex-direction: row;   
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-list {
    display: flex;
    gap: 40px;
}



.header-wrapper {
    display: flex;
align-items: center;
gap: 76px;
flex-direction: row;
}

.header a {
    padding: 24px 0;
}

.header-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo {
    color: #4D5AE5;
}

.header-list a {
    font-weight: 500;
    transition: color 250ms ease;
    position: relative;
    display: block;
    padding: 24px 0;

    transition: color 250ms ease;
}

.header-list a:hover, 
.header-list a:focus{
    color: #404bbf;
}

.header-list a.current {
    color: #404bbf;
}

.header-list a.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}



.header-contacts-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
   

}

.header-contacts {
        margin-left: auto;
}

.header-contacts-list a {
    font-style: normal;
    color: #434455;
     transition: color 250ms ease;
}

.header-contacts-list a:hover,
.header-contacts-list a:focus {
    color: #404bbf;
}
