.header-container {
    display: flex;
    flex-direction: row;   
}

.header {
  border-bottom: 1px solid #E7E9FC;
}

.header-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo {
    color: #4D5AE5;
}

.header-list {
    /* display: flex;
    gap: 40px;*/
    display: none;
}

.header-wrapper {
    display: flex;
align-items: center;
gap: 76px;
flex-direction: row;
}

.header-list a {
    /*
    transition: color 250ms ease;
    position: relative;
    display: block;*/
    font-weight: 500;
    padding: 24px 0;
    transition: color 250ms ease;
}

.header-list a:hover, 
.header-list a:focus{
    color: #404bbf;
}

.header-list a.current {
    color: #404bbf;
}

.header-list a.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    display: none;
}




.header-contacts-list {
   display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px; 
    display: none;
   

}

.header-contacts {
        margin-left: auto;
}

.header-contacts-list a {
    font-style: normal;
    color: #434455;
     transition: color 250ms ease;
}

.header-contacts-list a:hover,
.header-contacts-list a:focus {
    color: #404bbf;
}

.mobile-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 4px;
  background: transparent;
  border: 0;
  width: 24px;
  height: 24px;
}


@media (min-width: 768px) {
  .header .container {
    padding: 0 16px;
    max-width: 768px;
    justify-content: flex-start;
  }

  .header-wrapper {
    gap: 0px;
  }

  .header-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-left: 120px;
  }

  .header-contacts-list {
   display: flex;
    flex-direction: column;
    row-gap: 2px;
}

.header-contacts {
        margin-left: auto;
        display: block;
}

.header-contacts-list a {
    font-style: normal;
    color: #434455;
     transition: color 250ms ease;
     display: block;
}

.header-contacts-list a:hover,
.header-contacts-list a:focus {
    color: #404bbf;
}

  .mobile-menu-button {
    display: none;
  }
}

@media (min-width: 1158px) {
  .header .container {
    max-width: 1158px;
    padding: 0 15px;
    gap: 76px;
  }

.header-wrapper {
  gap: 96px;
}

  .header-contacts-list {
 flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px; 
    padding: 24px 0;
  }

  .header-list {
    margin-left: 0px;
  }

  .header-list a {
    transition: color 250ms ease;
    position: relative;
    display: block;
}

.header-contacts-list {
   display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
   

}

  .header-contacts-list a {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .header-list a.current {
    color: #404bbf;
}

.header-list a.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}


}