
.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}   

.hero-section {
   /* background-color: #2E2F42;
        padding: 188px 0;
        margin: 0 auto;
        max-width: 1440px;
         
          background-position: center;
          background-image: linear-gradient(180deg, rgba(46, 47, 66, 0.7) 0%, rgba(46, 47, 66, 0.7) 100%), url(../images/hero-bg.jpg);;;
*/
  background:
    linear-gradient(
      180deg,
      rgba(46, 47, 66, 0.7) 0%,
      rgba(46, 47, 66, 0.7) 100%
    ),
    url(../images/hero-bg-320.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.07;
  padding: 72px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 320px;
  margin: 0 auto;
 }


.hero-title {
    /*
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    */
    text-align: center;
    color: white;
      max-width: 216px;
  line-height: 1.11;
  font-size: 36px;
}

.hero-button {
   background-color: #4D5AE5;
   font-weight: 500;
   letter-spacing: 0.04em;
   color: white;
   cursor: pointer;
   border-radius: 4px;
padding: 16px 32px;
border: none;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
transition: background-color 250ms ease;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

@media (min-resolution: 192dpi) {
  .hero {
    background:
      linear-gradient(
        180deg,
        rgba(46, 47, 66, 0.7) 0%,
        rgba(46, 47, 66, 0.7) 100%
      ),
      url(../images/hero-bg-320-2x.jpg);
    background-position:
      top right,
      center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 768px) {
  .hero {
    background:
      linear-gradient(
        180deg,
        rgba(46, 47, 66, 0.7) 0%,
        rgba(46, 47, 66, 0.7) 100%
      ),
      url(../images/hero-bg-768.jpg);
    background-position:
      top right,
      center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 768px;
    padding: 112px 0;
  }

  .hero-container {
    padding: 0 15px;
    gap: 0px;
  }

  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }

 .hero-button {
    margin-top: 36px;
  }
}

@media (min-resolution: 192dpi) and (min-width: 768px) {
  .hero {
    background:
      linear-gradient(
        180deg,
        rgba(46, 47, 66, 0.7) 0%,
        rgba(46, 47, 66, 0.7) 100%
      ),
      url(../images/hero-bg-768-2x.jpg);
    background-position:
      top right,
      center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 1158px) {
  .hero {
    padding: 188px 0;
    background:
      linear-gradient(
        180deg,
        rgba(46, 47, 66, 0.7) 0%,
        rgba(46, 47, 66, 0.7) 100%
      ),
      url('../images/hero-bg-1440.jpg');
    background-position:
      top right,
      center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    padding: 188px 0;
  }

  .hero-container {
    padding: 0 15px;
  }

  .hero-button {
    margin-top: 48px;
  }
}

@media (min-resolution: 192dpi) and (min-width: 1158px) {
  .hero {
    background:
      linear-gradient(
        180deg,
        rgba(46, 47, 66, 0.7) 0%,
        rgba(46, 47, 66, 0.7) 100%
      ),
      url('../images/hero-bg-1440-2x.jpg');
    background-position:
      top right,
      center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}