@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }

  .top {
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }

  .top-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    margin-bottom: 36px;
    max-width: 496px;
  }

  .features-list {
    row-gap: 72px;
    column-gap: 24px;
  }

  .features-list-item {
    width: calc((100% - 24px * 1) / 2);
  }

  .team-img-inf {
    padding-left: 92px;
    padding-right: 92px;
  }

  .team-list {
    row-gap: 64px;
    column-gap: 24px;
  }

  .team-list-item {
    width: calc((100% - 24px * 1) / 2);
  }
  .portfolio-list {
    row-gap: 72px;
    column-gap: 24px;
  }

  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }

  .conclusion-container {
    padding-left: 108px;
  }

  .conclusion-logo-title {
    text-align: left;
  }

  .footer-logo-social {
    display: flex;
  }

  .social-media-text {
    text-align: left;
  }

  .conclusion-social-media {
    margin-left: 24px;
  }

  .social-media-list {
    margin-bottom: 0px;
  }

  .conclusion-form {
    gap: 24px;
    flex-wrap: nowrap;
    padding-left: 0px;
    padding-right: 0px;
  }

  .subscribe-text {
    text-align: left;
  }

  .conclusion-button {
    margin-left: 0;
  }

  .conclusion-input {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .top {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }

  .features {
    padding: 120px 0;
  }

  .features-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }

  .features-picture {
    display: flex;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background: #f4f4fd;
    height: 112px;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }

  .features-list-item {
    width: calc((100% - 24px * 3) / 4);
  }

  .features_mini-title {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-transform: none;
    text-align: left;
  }

  .features-text {
    font-weight: 400;
    text-transform: none;
  }

  .team-post {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-img-inf {
    padding-left: 0;
    padding-right: 0;
  }

  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio-list {
    column-gap: 24px;
    row-gap: 48px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
  }

  .conclusion {
    padding-top: 101.5px;
    padding-bottom: 100px;
  }

  .first-block {
    margin-right: 120px;
  }

  .conclusion-container {
    display: flex;
    align-items: baseline;
  }

  .conclusion-text {
    margin-bottom: 0;
  }

  .conclusion-social-media {
    margin-right: 80px;
    margin-left: 0;
  }
}
