body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

.section {
  padding: 96px 0 96px 0;
}

.header-container {
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.summit {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.summit-navigation {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.summit-logo-blue {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 17.5px 0;
  margin-right: 76px;
}

.summit-logo {
  color: #2e2f42;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 17.5px 0;
}

.summit-menu-button {
  margin-left: auto;
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: #ffffff;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  border-color: transparent;
}

.mob-menu {
  position: fixed;
  top: 0;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  padding: 24px 24px 40px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mob-menu-close-button {
  margin-left: auto;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  background-color: transparent;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-list {
  margin-top: 48px;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mob-menu-link {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.mob-menu-contacts-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: start;
  margin-bottom: 48px;
  margin-left: auto;
}

.mob-menu-contacts-menu-item {
}

.mob-menu-contacts-menu-link {
  color: #434455;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.icon-mob-menu {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.icon-mob-menu-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.mob-icon {
}

.icon-mob-menu-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
}

.mob-menu-contacts-menu-link-blue {
  color: #4d5ae5;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.2em;
}

.summit-menu-list {
  display: none;
  gap: 40px;
}

.summit-menu-item {
  display: flex;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.summit-menu-link {
  color: #2e2f42;
  padding: 24px 0px;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.summit-menu-link:hover,
.summit-menu-link:focus {
  color: #404bbf;
}

.current {
  position: relative;
  color: #404bbf;
}

.contacts-menu {
  display: none;
  gap: 40px;
  align-items: center;
}

.contacts-menu-item {
  display: flex;
  align-items: center;
}

.contacts-menu-link {
  font-size: 16px;
  color: #434455;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
  font-style: normal;
}

.contacts-menu-link:hover,
.contacts-menu-link:focus {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.top-container {
  margin: 0 auto;
  max-width: 1440px;
}

.top {
  background-color: #2e2f42;
  padding-top: 72px;
  padding-bottom: 72px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .top {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-mob-2x.jpg);
  }
}

.top-title {
  color: #fff;
  text-align: center;
  /*font-size: 56px;*/
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.top-push {
  color: #fff;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.top-push:hover,
.top-push:focus {
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features {
  padding: 96px 0;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.features-picture {
  display: none;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
  height: 112px;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.features_mini-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-transform: capitalize;
  text-align: center;
}

.features-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-post {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.team-img-inf {
  padding-left: 12px;
  padding-right: 12px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  margin: 0 auto;
}

.team-list-item {
  width: 100%;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-information {
  padding: 32px 0;
}

.team-information:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.icon-team-inform {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.team_inf-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team_inf-link:hover,
.team_inf-link:focus {
  background-color: #404bbf;
}

.team-inf-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.icon {
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
}

.team-post-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-post-mini-title {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-post-text {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  gap: 48px;
}

.portfolio-information {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-cover-text {
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  top: 0;
  padding: 40px 32px;
  background: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
}

.portfolio-list-item {
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.portfolio-list-item:hover .portfolio-cover-text {
  transform: translate(0%);
}

.portfolio-cover-wrap {
  position: relative;
  overflow: hidden;
}

.overlay {
  /*position: absolute;*/
  top: 0;
  left: 0;
  /*background: #4d5ae5;
  padding: 40px 32px 164px;
  transform: translateY(100%);
  transition: transform 250ms linear;*/
}

.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-mini-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.conclusion {
  background-color: #2e2f42;
  padding-top: 97.5px;
  padding-bottom: 96px;
}

.conclusion-logo-title {
  text-align: center;
}

.conclusion-logo-blue {
  display: inline-block;
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 17.5px;
}

.conclusion-logo {
  color: #f4f4fd;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.conclusion-text {
  display: block;
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;

  width: 264px;
  max-width: 100%;

  margin-bottom: 72px;
}

.social-media-text {
  color: #fff;
  max-width: 264px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  font-size: 16px;
  text-align: center;
  /*margin-right: 192px;*/
}

.social-media-list {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-bottom: 72px;
}

.social-media-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.social-media-item:hover {
  background-color: #31d0aa;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover,
.social-media-link:focus {
  background-color: #31d0aa;
}

.icon-conc {
  fill: #f4f4fd;
}

.conclusion-form {
  display: flex;
  /*gap: 24px;*/
  flex-wrap: wrap;
  padding-left: 16px;
  padding-right: 16px;
}

.subscribe-text {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}

.conclusion-input {
  width: 264px;
  /*width: 100%;*/
  height: 40px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 0 16px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-bottom: 16px;
}

.conclusion-input::placeholder {
  color: #ffffff;
}

.conclusion-button {
  color: #ffffff;

  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  height: 40px;
  min-width: 165px;
  padding: 8px 24px;
  background: #4d5ae5;
  border-radius: 4px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  margin: 0 auto;
}

.tg-icon {
  margin-left: 16px;
}

.conclusion-form {
  display: flex;
  align-items: center;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  padding: 72px 24px 24px 24px;
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
  margin-left: auto;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #404bbf;
  fill: #fff;
  border: none;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 360px;
  margin-bottom: 16px;
}

.modal-form {
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus {
  border-color: #4d5ae5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-text {
  display: block;
  color: #8e8f99;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.modal-field {
  position: relative;
  margin-bottom: 8px;
}

.modal-field-comment {
  margin-bottom: 16px;
}

.modal-field-check {
  margin-bottom: 24px;
}

.modal-input-text {
  width: 360px;
  height: 120px;
  color: rgba(46, 47, 66, 0.4);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  resize: none;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-text:hover,
.modal-input-text:focus {
  border-color: #4d5ae5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-wrap {
  position: relative;
  margin-bottom: 16px;
}

.modal-icon {
  position: absolute;
  fill: #2e2f42;
  left: 16px;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover,
.submit-button:focus {
  fill: #ffffff;
  border: none;
}

.check-icon {
}

.check-text {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin: 16px 0;
}

.privacy-link {
  color: #4d5ae5;
  text-decoration: underline;
}

.privacy-label {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-input:checked + label span {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}
